In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('airbnb_contacts.txt',sep='\t')

In [15]:
df['mess_sum']=df.groupby(['id_guest'])['n_messages'].transform('sum')

In [16]:
df['rank']=df['mess_sum'].rank(method='dense',ascending=False)

In [17]:
df=df[['id_guest','mess_sum','rank']].sort_values('rank')

In [18]:
df=df.drop_duplicates()
df

                                id_guest  mess_sum  rank
70  62d09c95-c3d2-44e6-9081-a3485618227d        20   1.0
96  882f3764-05cc-436a-b23b-93fea22ea847        20   1.0
5   b8831610-31f2-4c58-8ada-63b3601ca476        17   2.0
33  91c2a883-04e3-4bbb-a7bb-620531318ab1        17   2.0
26  6133fb99-2391-4d4b-a077-bae40581f925        16   3.0
..                                   ...       ...   ...
66  6cb23070-821b-467d-b4d0-af04645a0703         2  15.0
99  37a63847-b09a-4f32-81a5-97cfb8e84c6d         2  15.0
93  18d343e3-0ef0-4bb7-8cd9-b83d3fbbb82f         2  15.0
24  ea445eea-3fac-4edd-b1d6-569f57f6abe4         1  16.0
92  b11cd744-101d-409b-9a55-7e151f2e79d5         1  16.0

[96 rows x 3 columns]