In [165]:
import pandas as pd

In [166]:
data = [[1, 'Abbot'], [2, 'Doris'], [3, 'Emerson'], [4, 'Green'], [5, 'Jeames']]
df = pd.DataFrame(data, columns=['id', 'student']).astype({'id':'Int64', 'student':'object'})

In [167]:
temp = df['student'].copy()
df.loc[(df['id']%2==1) & (df['id'] != len(df)),'student'] = temp.shift(-1)
df.loc[(df['id']%2==0),'student'] = temp.shift(1)
df

   id  student
0   1    Doris
1   2    Abbot
2   3    Green
3   4  Emerson
4   5   Jeames