In [121]:
import pandas as pd

In [122]:
songs = pd.read_csv('billboard_top_100_year_end.txt',sep='\t')

In [123]:
songs_2010=songs[songs['year']==2010]

In [124]:
songs_2010=songs_2010[(songs_2010['year_rank']>=1) & (songs_2010['year_rank']<=10)]
results=songs_2010[['year_rank','group_name','song_name']].drop_duplicates()

In [125]:
results

      year_rank                   group_name             song_name
5861          1                        Ke$ha               TiK ToK
5862          2              Lady Antebellum          Need You Now
5863          3                        Train      Hey, Soul Sister
5864          4  Katy Perry feat. Snoop Dogg      California Gurls
5866          5        Usher feat. will.i.am                   OMG
5868          6  B.o.B feat. Hayley Williams             Airplanes
5870          7         Eminem feat. Rihanna  Love The Way You Lie
5872          8                    Lady Gaga           Bad Romance
5873          9                    Taio Cruz              Dynamite
5874         10     Taio Cruz feat. Ludacris      Break Your Heart