In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('airbnb_host_searches.txt',sep='\t')

In [9]:
df['Popularity']=np.where(df['number_of_reviews']==0,'New',
                          np.where(df['number_of_reviews'].between(1,5),'Rising',
                          np.where(df['number_of_reviews'].between(6,15),'Trending Up',
                          np.where(df['number_of_reviews'].between(16,40),'Popular',
                          np.where(df['number_of_reviews']>40,'Hot','')))))

In [26]:
df['min']=df.groupby('Popularity')['price'].transform('min')
df['mean']=df.groupby('Popularity')['price'].transform('mean')
df['max']=df.groupby('Popularity')['price'].transform('max')

In [32]:
results = df[['Popularity','min','mean','max']].drop_duplicates().sort_values('min')
results

     Popularity     min        mean     max
13      Popular  270.81  472.815000  667.83
3           New  313.55  516.671622  741.76
11          Hot  340.12  467.467391  633.51
0        Rising  355.53  506.646905  717.01
6   Trending Up  361.09  476.277179  685.65