In [28]:
import pandas as pd

In [ ]:
orders=pd.read_csv('online_orders.txt',sep='\t')

In [30]:
important=orders[['product_id','cost_in_dollars','date_sold','units_sold']]
revenue=important.groupby(['product_id','cost_in_dollars'])[['units_sold']].sum().reset_index()
revenue['revenue']=revenue['cost_in_dollars']*revenue['units_sold']
final_revenue=revenue.groupby('product_id')['revenue'].sum().reset_index().sort_values('revenue',ascending=False)

In [ ]:
final_revenue.head(5)

   product_id  revenue
1           2      207
2           3      201
4           5      199
0           1       65
5           6       56