In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('sf_restaurant_health_violations.txt',sep='\t')
df['inspection_date']=pd.to_datetime(df['inspection_date'])
df['year']=df['inspection_date'].dt.year

In [22]:
important=df[df['business_name']=='Roxanne Cafe']
important.groupby('year')['violation_id'].nunique().reset_index().rename(columns={'violation_id':'number of violations'})

   year  number of violations
0  2015                     5
1  2016                     2
2  2018                     3