In [114]:
import pandas as pd

In [115]:
temp = pd.read_csv('temperatures.txt',sep='\t')

In [116]:
temp = temp.sort_values('date')
temp=temp.rename(columns={'temperature':'today'})
temp['yesterday']=temp['today'].shift()

In [117]:
results = temp[temp['yesterday']<temp['today']]['date'].reset_index().drop(columns='index')

In [118]:
results

         date
0  2022-01-02
1  2022-01-04
2  2022-01-05
3  2022-01-08
4  2022-01-09