In [89]:
import pandas as pd

In [90]:
users = pd.read_csv('users.txt',sep='\t')
time = pd.read_csv('user_time.txt',sep='\t')
df = pd.merge(users,time,on='user_id')

In [91]:
df['average_time']=df['media_time_minutes'].mean()

In [92]:
results=df[df['media_time_minutes'] >= 282]['first_name'].reset_index().sort_values('first_name')
results=results.drop(columns='index')

In [93]:
results

  first_name
0       Adam
3      Bella
1      Chris
2  Christine