In [78]:
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv('marketing_campaign.txt',sep='\t')

In [80]:
campaign_users=df.groupby('user_id')[['created_at','product_id']].nunique().reset_index()
campaign_users=campaign_users[(campaign_users['created_at']>1) & (campaign_users['product_id']>1)]
df['user_product'] = df['user_id'].map(str) + "_" + df['product_id'].map(str)

In [84]:
df['first_order'] = df.groupby('user_id')['created_at'].transform('min')
first_order=df[df['created_at']==df['first_order']]

result = df[(df['user_id'].isin(campaign_users['user_id'])) & (~df['user_product'].isin(first_order['user_product']))]['user_id'].nunique()
first_order

     user_id  created_at  product_id  quantity  price user_product first_order
0         10  2019-01-01         101         3     55       10_101  2019-01-01
3         11  2019-01-02         105         3    234       11_105  2019-01-02
5         12  2019-01-02         112         2    200       12_112  2019-01-02
7         13  2019-01-05         113         1     67       13_113  2019-01-05
9         14  2019-01-06         109         5    199       14_109  2019-01-06
..       ...         ...         ...       ...    ...          ...         ...
97        63  2019-03-27         120         5     99       63_120  2019-03-27
98        64  2019-03-27         105         3    234       64_105  2019-03-27
99        65  2019-03-27         103         4     79       65_103  2019-03-27
100       66  2019-03-31         107         2     27       66_107  2019-03-31
101       67  2019-03-31         102         5     82       67_102  2019-03-31

[66 rows x 7 columns]