In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('yelp_business.txt',sep='\t')

In [35]:
yelp_business=df[['review_count','categories']].set_index('review_count').apply(lambda x: x.str.split(';').explode()).reset_index()

In [47]:
yelp_business.groupby('categories')['review_count'].sum().reset_index().sort_values('review_count',ascending=False)

               categories  review_count
141           Restaurants          1703
62                   Food           508
133                 Pizza           456
33                Chinese           417
95               Japanese           350
..                    ...           ...
96                Jewelry             3
145             Schnitzel             3
132               Pilates             3
154        Sporting Goods             3
179  Windows Installation             3

[183 rows x 2 columns]