In [147]:
import pandas as pd

In [148]:
data = [[121, 'US', 'approved', 1000, '2018-12-18'], [122, 'US', 'declined', 2000, '2018-12-19'], [123, 'US', 'approved', 2000, '2019-01-01'], [124, 'DE', 'approved', 2000, '2019-01-07']]
transactions = pd.DataFrame(data, columns=['id', 'country', 'state', 'amount', 'trans_date']).astype({'id':'Int64', 'country':'object', 'state':'object', 'amount':'Int64', 'trans_date':'datetime64[ns]'})

In [149]:
transactions['trans_date']=pd.to_datetime(transactions['trans_date'])
transactions['trans_date']=transactions['trans_date'].dt.strftime('%Y-%m')

In [ ]:
transactions['total_amount']=transactions.groupby(['country','trans_date'])['amount'].transform('sum')
transactions['trans_count']= transactions.groupby(['country','trans_date'])['state'].transform('count')
transactions['approved_count']=transactions['state'].str.replace('approved','1').replace('declined','0')
approved=transactions[transactions['state']=='approved']
approved=approved.copy()
approved.rename(columns={'amount':'accepted_amount'},inplace=True)
results=approved[['trans_date','country','trans_count','approved_count','total_amount','accepted_amount']]

In [151]:
results

,trans_date,country,trans_count,approved_count,total_amount,accepted_amount
0,2018-12,US,2,1,3000,1000
2,2019-01,US,1,1,2000,2000
3,2019-01,DE,1,1,2000,2000