In [80]:

import pandas as pd
import numpy as np
import re

In [81]:
df = pd.read_csv('sf_restaurant_health_violations.txt',sep='\t')

In [82]:
df['Class']=np.where(df['business_name'].str.contains(r'school',case=False),'School',
            np.where(df['business_name'].str.contains(r'restaurant',case=False),'Restaurant',
            np.where(df['business_name'].str.contains(r'cafe|café|coffee',case=False),'Cafe','Other')))

In [83]:
results=df[['business_name','Class']]
results

                      business_name       Class
0       John Chin Elementary School      School
1         Sutter Pub and Restaurant  Restaurant
2                  SRI THAI CUISINE       Other
3    Washington Bakery & Restaurant  Restaurant
4               Brothers Restaurant  Restaurant
..                              ...         ...
292                    Roxanne Cafe        Cafe
293                    Roxanne Cafe        Cafe
294                    Roxanne Cafe        Cafe
295                    Roxanne Cafe        Cafe
296                    Roxanne Cafe        Cafe

[297 rows x 2 columns]