In [125]:
import pandas as pd
import numpy as np

In [126]:
df = pd.read_csv('purchases.txt',sep='\t')

In [127]:
df=df.sort_values(['customer_id','transaction_id'],ascending=True)

In [128]:
df['n_purchase']=df.groupby('customer_id')['transaction_id'].transform('rank')

In [129]:
df['discounted_pirce']=np.where(df['n_purchase']==3,df['amount']*0.67,np.nan)

In [130]:
result=df[df['discounted_pirce'].notnull()][['customer_id','transaction_id','amount','discounted_pirce']]

In [132]:
result

    customer_id  transaction_id  amount  discounted_pirce
10         1001          374711      94             62.98
15         1002          415562      50             33.50
20         1003          102487      39             26.13
5          1004          528902      78             52.26
8          1005          500607      98             65.66