In [107]:
import pandas as pd

In [108]:
df = pd.read_csv('bad_data.txt',sep='\t')

In [109]:
df['names']=df['id'].str.extract('([a-zA-z]+)',expand=False)
df['id']=df['id'].str.replace('([a-zA-z]+)','',regex=True)

In [110]:
df

      id    names
0  12345   Johnny
1  93829    Sally
2  20391    Larry
3  29324  Valerie