In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('facts_events.txt',sep='\t')
df['time_id']=pd.to_datetime(df['time_id'])

In [56]:
df['month']=df['time_id'].dt.month

In [55]:
unique_users=df.groupby(['client_id','month'])['user_id'].nunique().reset_index()
unique_users.head()

  client_id  month  user_id
0   desktop      2       13
1   desktop      3       16
2   desktop      4       11
3    mobile      2        9
4    mobile      3       14