In [40]:
import pandas as pd

In [41]:
employee = pd.read_csv('employee.txt',sep='\t')

In [42]:
idx=employee.groupby(['department']).idxmax()['salary']

In [48]:
results=employee.loc[idx,['department','first_name','salary']].reset_index(drop=True)
results

   department first_name  salary
0       Audit   Shandler    1100
1  Management    Richerd  250000
2       Sales       Mick    2200