In [361]:
import pandas as pd

In [362]:
employee = pd.read_csv('sf_employee.txt',sep='\t')
bonus = pd.read_csv('sf_bonus.txt',sep='\t')

In [363]:
merged = employee.merge(bonus,how='left',left_on='id',right_on='worker_ref_id')
add_bonus=merged.groupby('id')['bonus'].sum().reset_index()

In [364]:
merged=merged.merge(add_bonus,on='id')

In [365]:
merged=merged.drop_duplicates(subset=merged.columns.difference(['bonus_x','bonus_y']))
merged=merged.dropna(subset=['bonus_x'])

In [366]:
merged['salary']=merged['salary']+merged['bonus_y']

In [367]:
results=merged.groupby(['employee_title','sex'])['salary'].mean().reset_index().rename(columns={'salary':'average salary'})
results

  employee_title sex  average salary
0        Auditor   M          2200.0
1        Manager   F        209500.0
2          Sales   M          4600.0
3   Senior Sales   M          5350.0