In [16]:
import pandas as pd

In [17]:
data = [[1, 'Jhon', '2019-01-01', 100], [2, 'Daniel', '2019-01-02', 110], [3, 'Jade', '2019-01-03', 120], [4, 'Khaled', '2019-01-04', 130], [5, 'Winston', '2019-01-05', 110], [6, 'Elvis', '2019-01-06', 140], [7, 'Anna', '2019-01-07', 150], [8, 'Maria', '2019-01-08', 80], [9, 'Jaze', '2019-01-09', 110], [1, 'Jhon', '2019-01-10', 130], [3, 'Jade', '2019-01-10', 150]]
customer = pd.DataFrame(data, columns=['customer_id', 'name', 'visited_on', 'amount']).astype({'customer_id':'Int64', 'name':'object', 'visited_on':'datetime64[ns]', 'amount':'Int64'})

In [20]:
perday= customer.groupby('visited_on')['amount'].sum().reset_index()
perday['7day_avg'] = perday['amount'].rolling(window=7).mean()
perday['amount'] = perday['amount'].rolling(window=7).sum()
results = perday.dropna()

In [21]:
results

  visited_on  amount    7day_avg
6 2019-01-07   860.0  122.857143
7 2019-01-08   840.0  120.000000
8 2019-01-09   840.0  120.000000
9 2019-01-10  1000.0  142.857143