In [43]:
import pandas as pd

In [44]:
guests = pd.read_csv('airbnb_guests.txt',sep='\t')
hosts=pd.read_csv('airbnb_hosts.txt',sep='\t')

In [45]:
merged = hosts.merge(guests,how='inner',left_on=['nationality','gender'],right_on=['nationality','gender'])

In [46]:
merged[['host_id','guest_id']]

     host_id  guest_id
0          0         9
1          1         5
2          2         1
3          3         7
4          4         0
..       ...       ...
171        7        10
172        6         4
173        7        10
174        6         4
175        7        10

[176 rows x 2 columns]