In [160]:
import pandas as pd
import numpy as np

In [161]:
df = pd.read_csv('desserts.txt',sep='\t')

In [162]:
df=df.sort_values(['date_sold','product'])
df['shift']=df.groupby('date_sold')['amount_sold'].transform('shift')

In [163]:
df['winner']=np.where(df['amount_sold']>df['shift'],"Pie",'Cake')
df=df.dropna(subset=['shift'])
df=df.drop(columns=['product'])

In [165]:
df=df.fillna(0)
df['difference'] = abs(df['amount_sold'] - df['shift'])
result = df[['date_sold','difference','winner']]

In [166]:
result

  date_sold  difference winner
1  6/1/2022        12.0    Pie
2  6/2/2022         1.0    Pie
4  6/3/2022         1.0   Cake
6  6/4/2022         9.0    Pie
9  6/5/2022        16.0   Cake