In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Inspections.txt',sep='\t')

In [22]:
result=df[(df['minor_issues']<=3) &(df['critical_issues']<=0)]
result=result[['owner_name','vehicle']].sort_values('owner_name')
result

   owner_name                 vehicle
6       David         1998 Ford F-150
10     Hannah       2018 Honda Accord
0         Jim        2012 Ford Fusion
5      Joseph  2015 Toyota Highlander
1     Mikaela      2021 Dodge Stratus
4       Sally      2023 Tesla Model S