In [15]:
import pandas as pd

In [16]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [17]:
scores['rank']=scores['score'].rank(method='dense',ascending=False)
scores=scores.sort_values('rank')
scores

   id  score  rank
2   3    4.0   1.0
4   5    4.0   1.0
3   4   3.85   2.0
1   2   3.65   3.0
5   6   3.65   3.0
0   1    3.5   4.0