In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('los_angeles_restaurant_health_inspections.txt',sep='\t')

In [82]:
filtered_df=df[(df['score']<95)&(df['program_name']=='STREET CHURROS')]
filtered_df[['activity_date','pe_description']]

    activity_date                    pe_description
161    2017-12-29  RESTAURANT (0-30) SEATS LOW RISK
162    2016-12-01  RESTAURANT (0-30) SEATS LOW RISK
163    2016-06-16  RESTAURANT (0-30) SEATS LOW RISK