In [122]:

import pandas as pd
import numpy as np

In [123]:
df = pd.read_csv('facebook_friends.txt',sep='\t').sort_values('user1')

In [124]:
all_users=np.unique(np.concatenate([df['user1'],df['user2']]))
df_reverse=df.rename(columns={'user1':'user2','user2':'user1'})

In [125]:
all_friends=pd.concat([df,df_reverse])

In [126]:
result=all_friends.groupby('user1')['user2'].nunique().reset_index()
result['popularity']=((result['user2']/len(all_users)) *100).round(2)

In [127]:
result

   user1  user2  popularity
0      1      5       55.56
1      2      3       33.33
2      3      3       33.33
3      4      1       11.11
4      5      1       11.11
5      6      2       22.22
6      7      1       11.11
7      8      1       11.11
8      9      1       11.11