In [67]:
import pandas as pd

In [68]:
df = pd.read_csv('amazon_transactions.txt',sep='\t')
df['created_at']=pd.to_datetime(df['created_at']).dt.strftime('%m-%d-%Y')

In [69]:
df=df.sort_values(by=['user_id','created_at'],ascending=[True,True])
df['time_diff']=df.groupby('user_id')['created_at'].shift()
df["days"] = (pd.to_datetime(df["created_at"])- pd.to_datetime(df["time_diff"])).dt.days

In [70]:
result=df[df['days']<=7]['user_id'].unique()
result.sort()
result

array([100, 103, 105, 109, 110, 111, 112, 114, 117, 120, 122, 128, 129,
       130, 131, 133, 141, 143, 150])

In [72]:
df.loc[df['user_id']==109]

    id  user_id   item  created_at  revenue   time_diff  days
39  40      109  bread  03-02-2020      362         NaN   NaN
0    1      109   milk  03-03-2020      123  03-02-2020   1.0
25  26      109  bread  03-22-2020      432  03-03-2020  19.0