In [22]:

import pandas as pd

In [23]:
workers = pd.read_csv('worker.txt',sep='\t')

In [24]:
workers['joining_date']=pd.to_datetime(workers['joining_date'])
workers['month']=workers['joining_date'].dt.month
workers['num_workers']=1

In [27]:
workers=workers[workers['month']>=4]
workers=workers.groupby('department')['num_workers'].sum(numeric_only=True).reset_index()
workers.sort_values('num_workers',ascending=False)

  department  num_workers
1      Admin            4
0    Account            1
2         HR            1