In [92]:
import pandas as pd
import numpy as np

In [93]:
df= pd.read_csv('premium_accounts_by_day.txt',sep='\t')
df['entry_date']=pd.to_datetime(df['entry_date'])
df['check_date']=df['entry_date']+pd.Timedelta(days=7)

In [106]:
merged_df=df.merge(df,left_on=['account_id','check_date'],right_on=['account_id','entry_date'],suffixes=('_now','_7days_later'))
merged_df=merged_df.drop(columns=['check_date_now','check_date_7days_later'])
merged_df=merged_df[merged_df['final_price_now']>0]
merged_df['final_price_7days_later']=merged_df['final_price_7days_later'].replace(0,np.nan)
premium_accounts=merged_df.groupby('entry_date_now')[['final_price_now','final_price_7days_later']].count().reset_index()
premium_accounts=premium_accounts.rename(columns={
    'entry_date_now':'date',
    'final_price_now':'premium_acconts',
    'final_price_7days_later':'premium_account_after_7d'
}).sort_values('date')

premium_accounts

        date  premium_acconts  premium_account_after_7d
0 2022-02-07                2                         2
1 2022-02-08                2                         2
2 2022-02-09                3                         2
3 2022-02-10                4                         3
4 2022-02-11                2                         1
5 2022-02-12                3                         2
6 2022-02-13                2                         1