In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('customers.txt',sep='\t')
df['birth_date']= pd.to_datetime(df['birth_date'])
Timestamp=pd.Timestamp('2023/1/1')

In [47]:
df['n_years_old']= Timestamp.year-df['birth_date'].dt.year
birthday = (Timestamp.month>df['birth_date'].dt.month) | ((Timestamp.month == df['birth_date'].dt.month) & (Timestamp.day>=df['birth_date'].dt.day))

In [48]:
df['n_years_old'] = np.where(birthday, df['n_years_old'], df['n_years_old']-1)
results = df[df['n_years_old']>=55].sort_values('customer_id')

In [49]:
results

   customer_id birth_date  n_years_old
6   PLM3202827 1941-06-18           81
4   RHY0461182 1951-09-07           71
5   UJL8594627 1957-10-10           65
13  VNX4490181 1952-02-14           70
8   WIC7447772 1942-12-14           80
1   XBJ9334631 1964-06-12           58