In [1]:
import pandas as pd

In [6]:
orders = pd.read_csv('orders.txt',sep='\t')
orders.head()

   id  cust_id  order_date order_details  total_order_cost
0   1        3  2019-03-04          Coat               100
1   2        3  2019-03-01         Shoes                80
2   3        3  2019-03-07         Skirt                30
3   4        7  2019-02-01          Coat                25
4   5        7  2019-03-10         Shoes                80

In [10]:
orders.dtypes

id                   int64
cust_id              int64
order_date          object
order_details       object
total_order_cost     int64
dtype: object

In [15]:
orders['order_date']=pd.to_datetime(orders['order_date'])
orders.dtypes

id                           int64
cust_id                      int64
order_date          datetime64[ns]
order_details               object
total_order_cost             int64
dtype: object

In [39]:
orders['order_year']=orders['order_date'].dt.year
orders['order_month']=orders['order_date'].dt.month
march_orders=orders[(orders['order_year']==2019) & (orders['order_month']==3)]
March_revenue=march_orders.groupby(['cust_id']).sum(numeric_only=True).reset_index().sort_values('total_order_cost',ascending=False)[['cust_id','total_order_cost']]
March_revenue

   cust_id  total_order_cost
0        3               210
3       15               150
1        7                80
2       12                20