In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('linkedin_posts.txt',sep='\t')

In [26]:
df['popularity']=(df['actions'] /df['impressions'])*100
results = df[df['popularity']>=1][['post_id','popularity']].sort_values(by='popularity',ascending=False)

In [27]:
results

    post_id  popularity
0     18492    7.847606
2     18494    4.237314
7     18499    3.666088
6     18498    2.882646
9     18501    2.577251
8     18500    2.515203
4     18496    2.057574
11    18503    2.042552