In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('user_flags.txt',sep='\t')
df1= pd.read_csv('flags_review.txt',sep='\t')

In [ ]:
merged_df=df.merge(df1,on='flag_id')

user_firstname      object
user_lastname       object
video_id            object
flag_id             object
reviewed_by_yt        bool
reviewed_date       object
reviewed_outcome    object
dtype: object

In [20]:
merged_df = merged_df[merged_df['reviewed_by_yt']==True]
merged_df = merged_df[merged_df['reviewed_outcome']=='APPROVED']
merged_df['user_full_name']=merged_df['user_firstname'].astype(str)+" "+merged_df['user_lastname'].astype(str)
results=merged_df.groupby('user_full_name')['video_id'].count().reset_index().sort_values('video_id',ascending=False)
results.head(1)

   user_full_name  video_id
4  Richard Hasson         3