In [4]:
import pandas as pd

In [10]:
df=pd.read_csv('data.txt',sep='\t')
df['created_at']=pd.to_datetime(df['created_at'])

In [16]:
df['month']=df.created_at.dt.month
df['year']=df.created_at.dt.year

In [47]:
month_revenue=df.groupby(['month']).sum(numeric_only=True).reset_index()[['month','value']]
month_revenue['revenue_diff']=month_revenue['value'].diff()
month_revenue['last_month_revenue']=month_revenue['value']-month_revenue['revenue_diff']
month_revenue['% change']=((month_revenue['revenue_diff']/month_revenue['last_month_revenue'])*100).round(2)
month_revenue['date']=df['created_at'].dt.strftime('%Y-%m')
month_revenue[['date','% change']]

       date  % change
0   2019-01       NaN
1   2019-01    -28.56
2   2019-01     23.35
3   2019-01    -13.84
4   2019-01     13.49
5   2019-01     -2.78
6   2019-01     -6.00
7   2019-01     28.36
8   2019-02     -4.97
9   2019-02    -12.68
10  2019-02      1.71
11  2019-02     -2.11