In [417]:
import pandas as pd

In [418]:
data = [[101, 'Math', 70, '2023-01-15'], [101, 'Math', 85, '2023-02-15'], [101, 'Physics', 65, '2023-01-15'], [101, 'Physics', 60, '2023-02-15'], [102, 'Math', 80, '2023-01-15'], [102, 'Math', 85, '2023-02-15'], [103, 'Math', 90, '2023-01-15'], [104, 'Physics', 75, '2023-01-15'], [104, 'Physics', 85, '2023-02-15']]
scores = pd.DataFrame(data,columns={"student_id": pd.Series(dtype="int"),
                          "subject": pd.Series(dtype="str"),
                          "score": pd.Series(dtype="int"),
                          "exam_date": pd.Series(dtype="str")})

In [419]:
scores = scores.sort_values(['student_id','subject','exam_date'])
scores['attempt'] = scores.groupby(['student_id','subject']).cumcount() + 1

In [420]:
pivot = scores.pivot_table(
    index = ['student_id','subject'],
    columns=['attempt'],
    values='score'
).reset_index()
pivot.columns.name = None

In [421]:
pivot = pivot[pivot[2]>pivot[1]]
pivot

   student_id  subject     1     2
0         101     Math  70.0  85.0
2         102     Math  80.0  85.0
4         104  Physics  75.0  85.0